<ion-header>
  <ion-toolbar>
    <ion-title>Edit User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id="headding">Edit The Selected User</h1> 
  
  <div></div>
  <form [formGroup] = "editUserForm" (ngSubmit) = "updateUser()" *ngIf="selectedUser">
    <ion-list>
      <ion-item>
        <ion-label style="color: lime;">Title</ion-label>
        <ion-select  cancelText="Cancel" okText="Confirm" value="{{selectedUser.title}}" formControlName = "title">
          <ion-select-option value="Mr">Mr</ion-select-option>
          <ion-select-option value="Mrs">Mrs</ion-select-option>
          <ion-select-option value="Miss">Miss</ion-select-option>
          <ion-select-option value="Ms">Ms</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
 
    <ion-item>
      <ion-label style="color: lime;" position="stacked">First Name:</ion-label>
      <ion-input inputmode="text" value="{{selectedUser.fname}}" formControlName = "fname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: lime;" position="stacked">Last Name:</ion-label>
      <ion-input inputmode="text" value="{{selectedUser.lname}}" formControlName = "lname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: lime;" position="stacked">Email:</ion-label>
      <ion-input inputmode="text" value="{{selectedUser.email}}" formControlName = "email"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label style="color: lime;">User Role</ion-label>
        <ion-select  cancelText="Cancel" okText="Confirm" value="{{selectedUser.role}}" formControlName = "role">
          <ion-select-option value="Admin">Admin</ion-select-option>
          <ion-select-option value="User">User</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label style="color: lime;" position="stacked">Password:</ion-label>
      <ion-input inputmode="text"  type="password" formControlName = "password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: lime;" position="stacked">Confirm Password:</ion-label>
      <ion-input inputmode="text"  type="password" formControlName = "confirmpassword"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-button expand="block" type = "submit" [disabled] = "!editUserForm.valid" color="success">Edit User</ion-button>
  </form>
</ion-content>