#btnRound{
    position: absolute;
bottom: 15%;
right: 5%;
}

.btnU{
    position: absolute;
    right: 20%;
}

.btnD{
    position: relative;
    left: 85%;
}

#name{
    position: absolute;
    left: 5%;
}

#icon{
    position: absolute;
    top: 25%;
}

#meta{
    position: absolute;
    left: 30%;
    top: 28%;
}

#box{
    color: lime;
}